<IfModule mod_mime.c>
  AddType application/javascript .js .mjs
  AddType text/css .css
  AddType image/png .png
  AddType image/webp .webp
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Don't rewrite files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Send everything else to index.html
  RewriteRule ^(.*)$ /index.html [L,QSA]
</IfModule>
