@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'STALKER1';
  font-style: normal;
  font-weight: 400;
  src: local('STALKER2'), url('https://fonts.cdnfonts.com/s/4672/stalker2.woff') format('woff');
}
