@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AmazStalker';
  src: url('/fonts/AmazStalker.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


