@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AmazStalker';
  src: url('https://dl.dafont.com/dl/?f=amazstalker') format('truetype');
  font-weight: normal;
  font-style: normal;
}

